@import '../../scss/variables';

#back
{
  min-height: calc(100vh - 56px - 54px);
  height: 100%;
  body
  {
    background-color: $sp-grey-lighter;
  }
  .react-paginate 
  {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B74831 !important;
    ul 
    {
      text-align: center;
      display: flex !important;
      justify-content: center;
      background-color: #fff;
      // border: 1px solid $sp-grey-dark;

      li 
      {
        padding:10px;
        display: inline-block !important;

        &:hover
        {
          cursor: pointer;
        }

        a 
        {
          color: $sp-grey-dark;
        }
      }

    }
      .active
    {
      border: 1px solid $sp-grey-dark;
    }

    .disable
    {
      background-color: #FCFCFC;
    }
  }

  .hide
  {
    display: none;
  }
}
