@import '../../../scss/variables';

  #back-nav.navbar
  {
    background-color: $sp-white !important;

      .navbar-brand
      {
        margin-left: 10% !important;
        margin-right: 0;
      }
      .fa-user {
          margin-right: 10px;
      }
      .userProfileAccess{
          margin-left: 25px;
          text-decoration: none;
          color : $sp-black;
          &:hover {
              color: $sp-main;
          }
      }
      .nav-link
      {
        color : $sp-black;
        &:hover
        {
          color: $sp-grey-dark;
        }
      }

      .divlog
      {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
  }
