@import '../../../../scss/variables';

.latest-item {
    height: 300px;
    padding: 0;
    position: relative;
    overflow: hidden;

    &:hover {
        img.wrapper-post-image {
            transform: scale(1.1);
        }
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &::before {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.4));
        z-index: 1;
    }

    img.wrapper-post-image {
        transition: all .2s ease-in-out;
    }

    .wrapper {
        position: relative;
        z-index: 2;
        font-weight: bold;
        width: 100%;
        height: 100%;

        &-post-image {
            position: absolute;
            height: 300px;
            width: 100%;
        }

        >a {
            padding: 15px;
        }

        a {
            color: $sp-white;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .post {
                &-meta-info {
                    display: flex;
                    justify-content: space-between;

                    img {
                        transition: all .2s ease-in-out;

                        &:hover {
                            cursor: pointer;
                            transform: scale(1.1);
                        }
                    }
                }

                &-title {
                    font-weight: bold;
                    font-size: 1.1rem;
                }

                &-category-name {
                    background-color: $sp-red;
                    font-weight: bold;

                    a {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}
