@import '../../../scss/variables.scss';

$post-item-size: 200px;

.question {
    border: none;
}

.question > div > h5 > .btn-link {
    color: #2E2F30;
    text-decoration: none;
}

.post-item {
    display: flex;
    background-color: $sp-white;
    background-clip: content-box;
    min-height: $post-item-size;

    &-image {
        >a {
            img {
                height: $post-item-size;
                width: $post-item-size;
            }
        }

    }

    &-meta {
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-weight: 600;

        i+span {
            margin-left: 5px;
        }

        span,
        time {
            color: $sp-grey-dark;
        }

        .username {
            color: $sp-grey-dark;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-title {
        font-weight: bold;
    }

    &-description {
        font-weight: 500;
    }
}


@media (max-width: 768px) {
    .post-item {

        &-image {
            >a {
                img {
                    width: 100%;
                }
            }

        }
    }
}
