#home-back
{
  .main-section
  {
    padding: 5%;
    .main-data
    {
      padding: 30px;
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
